.button { 
  background-color: #B2F2BB;
  color: #000;
  font-size: 1rem;
  border: 0.1em solid #000;
  border-radius: 0.5rem;
  user-select: none;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}