.skip {
    position: absolute;
    top: 10px;
    right: 10px;
}

.feature a {
  text-decoration: none;
  color:#000;
}

.featureImg {

  height: 160px;
  width: 180px;
}

.feature {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.feature h1 {
  font-size: 1.5rem;
}

.feature p {
  text-align: center;
  font-size: 1rem;
  margin:auto;
  width: 60%
}