body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  background: #67f2b6;
  background: linear-gradient(45deg, #67f2b6, #e1fbf0);
};